<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/Content/IMG/RestauranteIcone .png" />
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/CSS/Main.css" />
    <meta name="viewport" content="width=device-width" />

</head>
<body>

    @RenderBody()


</body>
<img class="logo-benner" src="~/Content/IMG/bennerLogo.png" />


</html>
